/* Variables */
$bg-color1: rgba(248,243,233,0.7451);
$bg-color2: rgba(39,41,51,0.8431);
$bg-color3: rgba(221,180,148,0.9176);
$bg-color4: rgba(214,229,235,0.8549);
$bg-color5: rgba(235,227,213,0.6118);
$bg-color1-full: rgba(248,243,233,1.000);
$bg-color2-full: rgba(55,58,70,1.000);
$bg-color3-full: rgba(221,180,148,1.000);
$bg-color4-full: rgba(214,229,235,1.000);
$accent-color1: rgb(199, 180, 157);
$accent-color2: rgb(209, 170, 86);
$accent-color3: rgba(63,80,87,1.000);
$accent-color4: rgb(90, 110, 129);

$text-color1: rgba(39,41,51,1.000);
$text-color2: rgba(248,243,233,1.000);
$text-color3: rgba(255,255,255,1.000);
$text-color4: rgba(202,224,233,1.000);